In [3]:
#A

In [4]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 7.0 MB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 6.9 MB/s  eta 0:00:01
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [5]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic

In [6]:
# Load the store locations data
store_locations = pd.read_excel('/Users/sarthakchawla/Downloads/store_locations.xlsx')

In [7]:
store_locations

     Store       lon      lat
0     1063 -0.836673  51.2797
1      989 -4.087440  55.8214
2     1061 -0.799592  51.3476
3      302 -2.602180  51.4664
4      212 -2.422750  53.5689
..     ...       ...      ...
295   1089 -0.287350  51.5607
296    538  0.861843  51.8544
297    973 -4.254070  55.8459
298   1066 -0.617720  51.1864
299   2203 -0.133300  51.1167

[300 rows x 3 columns]

In [8]:
# Function to calculate the distance between two points using their coordinates
def calculate_distance(coord1, coord2):
    return geodesic(coord1, coord2).kilometers

In [9]:
# Create a DataFrame to store distances
distances = pd.DataFrame(index=store_locations['Store'], columns=store_locations['Store'])

In [10]:
# Calculate distances between each pair of stores
for i, store1 in store_locations.iterrows():
    for j, store2 in store_locations.iterrows():
        if i != j:
            coord1 = (store1['lat'], store1['lon'])
            coord2 = (store2['lat'], store2['lon'])
            distances.at[store1['Store'], store2['Store']] = calculate_distance(coord1, coord2)

In [11]:
# Find the nearest neighbouring store for each store
nearest_distances = distances.min(axis=1)

In [12]:
# Determine the store with the farthest distance to its nearest neighbour
farthest_store = nearest_distances.idxmax()
farthest_distance = nearest_distances.max()

result = pd.DataFrame({
    "Store": [farthest_store],
    "Farthest Distance to Nearest Neighbor (km)": [farthest_distance]
})

In [13]:
result

   Store  Farthest Distance to Nearest Neighbor (km)
0   1142                                    88.67035

In [14]:
#B

In [15]:
# Determine which stores have at least one other store within 1 km
within_1km = (distances <= 1).any(axis=1)

In [16]:
# Calculate the percentage of such stores
percent_within_1km = (within_1km.sum() / within_1km.count()) * 100

In [17]:
result = pd.DataFrame({
    "Stores within 1 km": [within_1km.sum()],
    "Total Stores": [within_1km.count()],
    "Percentage": [percent_within_1km]
})

In [18]:
result

   Stores within 1 km  Total Stores  Percentage
0                  10           300    3.333333

In [19]:
#c

In [20]:
# Determine which stores have at least one other store within 3 km
within_3km = (distances <= 3).any(axis=1)

In [21]:
# Calculate the percentage of such stores
percent_within_3km = (within_3km.sum() / within_3km.count()) * 100

In [22]:
result = pd.DataFrame({
    "Stores within 3 km": [within_3km.sum()],
    "Total Stores": [within_3km.count()],
    "Percentage": [percent_within_3km]
})

In [23]:
result

   Stores within 3 km  Total Stores  Percentage
0                  36           300        12.0

In [29]:
#D

In [25]:
# Determine which stores have at least one other store within 5 km
within_5km = (distances <= 5).any(axis=1)

In [26]:
# Calculate the percentage of such stores
percent_within_5km = (within_5km.sum() / within_5km.count()) * 100

In [27]:
result = pd.DataFrame({
    "Stores within 5 km": [within_5km.sum()],
    "Total Stores": [within_5km.count()],
    "Percentage": [percent_within_5km]
})

In [28]:
result

   Stores within 5 km  Total Stores  Percentage
0                  97           300   32.333333

In [30]:
#E

In [31]:
# Count the number of other stores within 10 km for each store
within_10km_counts = (distances <= 10).sum(axis=1)

In [32]:
# Identify the store with the maximum count of neighboring stores within 10 km
store_with_most_neighbors = within_10km_counts.idxmax()
max_neighbors_count = within_10km_counts.max()

In [33]:
result_10km = pd.DataFrame({
    "Store": [store_with_most_neighbors],
    "Number of Stores within 10 km": [max_neighbors_count]
})

In [34]:
result_10km

   Store  Number of Stores within 10 km
0   2800                             21