I have updated the cities.xlsx files with longitude and latitude decimals of each city to make the section answerable. I have renamed the file to cities_updated.xlsx file.

In [11]:
#A

In [12]:
import pandas as pd
from geopy.distance import geodesic

In [15]:
# Load the cities data
cities_df = pd.read_excel('/Users/sarthakchawla/Downloads/cities_updated.xlsx')

In [16]:
cities_df

                City Country  Population         lat         lon
0             London      UK     7489022   51.509865   -0.118092
1         Birmingham      UK      986969   52.489471   -1.898575
2            Glasgow      UK      607192   55.860916   -4.251433
3          Liverpool      UK      468584   53.400002   -2.983333
4              Leeds      UK      457875   53.801277   -1.548567
..               ...     ...         ...         ...         ...
95      High Wycombe      UK       81117     51.6291     -0.7493
96             Wigan      UK       80597   53.545067   -2.632507
97  Stockton-on-Tees      UK       79849     54.5685     -1.3187
98         Wakefield      UK       79453       53.68       -1.49
99           Lisburn      UK       79246   54.509720   -6.037400

[100 rows x 5 columns]

In [17]:
# Get the coordinates for London and Glasgow
london_coords = cities_df[cities_df['City'] == 'London'][['lat', 'lon']].values[0]
glasgow_coords = cities_df[cities_df['City'] == 'Glasgow'][['lat', 'lon']].values[0]

In [18]:
# Calculate the distance between London and Glasgow
distance = geodesic(london_coords, glasgow_coords).kilometers
print(distance)

555.7292444435049

In [19]:
#B

In [20]:
# Filter out cities with a population greater than 200,000
filtered_cities_df = cities_df[cities_df['Population'] > 200000]

In [21]:
filtered_cities_df

                  City Country  Population        lat         lon
0               London      UK     7489022  51.509865   -0.118092
1           Birmingham      UK      986969  52.489471   -1.898575
2              Glasgow      UK      607192  55.860916   -4.251433
3            Liverpool      UK      468584  53.400002   -2.983333
4                Leeds      UK      457875  53.801277   -1.548567
5            Sheffield      UK      448596  53.383331   -1.466667
6            Edinburgh      UK      438501    55.9576   -3.20429
7              Bristol      UK      432967  51.454514    -2.58791
8           Manchester      UK      395514  53.483959   -2.244644
9            Leicester      UK      341201  52.633331   -1.133333
10            Coventry      UK      309323  52.408054   -1.510556
11             Cardiff      UK      304777  51.481583    -3.17909
12  Kingston upon Hull      UK      302225   53.76775   -0.335827
13            Bradford      UK      300478  53.799999       -1.75
14             Belfast      UK      274678    54.5973     -5.9301
15      Stoke-on-Trent      UK      260452    53.0033     -2.1827
16       Wolverhampton      UK      252874    52.5868     -2.1257
17         Southampton      UK      249189    50.9105     -1.4049
18            Plymouth      UK      247923  50.376289   -4.143841
19             Reading      UK      246814  51.509865   -0.118092
20          Nottingham      UK      245615  52.950001       -1.15
21               Derby      UK      236245  52.916668   -1.466667

In [22]:
# Get the coordinates for Exeter
exeter_coords = cities_df[cities_df['City'] == 'Exeter'][['lat', 'lon']].values[0]

In [23]:
# Calculate distances from Exeter to other cities with population greater than 200,000
filtered_cities_df['Distance'] = filtered_cities_df.apply(
    lambda row: geodesic(exeter_coords, (row['lat'], row['lon'])).kilometers, axis=1)

/var/folders/20/rw_9jf3s7f75z2kj0w4cq0r80000gn/T/ipykernel_1840/3273400023.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_cities_df['Distance'] = filtered_cities_df.apply(

In [24]:
# Sort by distance and get the 10th closest city
sorted_cities_df = filtered_cities_df.sort_values(by='Distance').reset_index()
tenth_closest_city = sorted_cities_df.iloc[9]  # 10th closest city (index 9)

In [25]:
print(tenth_closest_city[['City', 'Country', 'Population', 'Distance']])

City          Leicester
Country              UK
Population       341201
Distance      270.22266
Name: 9, dtype: object

In [26]:
#C

In [31]:
# Filter out cities with a population less than 100,000
small_cities_df = cities_df[cities_df['Population'] < 100000]

In [32]:
small_cities_df

                 City Country  Population          lat         lon
70           Worthing      UK       99551    50.825024   -0.383835
71           Rochdale      UK       97918   53.6097136     -2.1561
72        Basingstoke      UK       97916      51.2625     -1.0871
73           Solihull      UK       96559    52.412811   -1.778197
74             Harlow      UK       95949    51.772938     0.10231
75               Bath      UK       93963    51.380001       -2.36
76          Southport      UK       93367    53.666667          -3
77          Maidstone      UK       91094    51.272644     0.52527
78            Lincoln      UK       90008    53.234444   -0.538611
79           Hastings      UK       89856    50.854259    0.573453
80        Londonderry      UK       88120    55.006763   -7.318268
81            Grimsby      UK       87786     53.56539    -0.07553
82            Bedford      UK       87703    52.136436   -0.460739
83          Harrogate      UK       87429    53.992119   -1.541812
84         Darlington      UK       87399    54.533333   -1.566667
85         Hartlepool      UK       86799    54.691746   -1.212926
86    Hemel Hempstead      UK       86211     51.75368    -0.44975
87          Stevenage      UK       85407     51.90507   -0.200202
88       Saint Albans      UK       85022    51.755001   -0.336000
89  Weston-super-Mare      UK       84101    51.345833   -2.967778
90      South Shields      UK       83783      54.9778     -1.4317
91            Halifax      UK       82271    53.733924   -1.823389
92            Chester      UK       81538    53.189999   -2.890000
93         Warrington      UK       81293    53.383333       -2.6
94         Birkenhead      UK       81230         53.4   -3.033333
95       High Wycombe      UK       81117      51.6291     -0.7493
96              Wigan      UK       80597    53.545067   -2.632507
97   Stockton-on-Tees      UK       79849      54.5685     -1.3187
98          Wakefield      UK       79453        53.68       -1.49
99            Lisburn      UK       79246    54.509720   -6.037400

In [33]:
# Ensure latitude column is treated as numeric
small_cities_df['lat'] = pd.to_numeric(small_cities_df['lat'], errors='coerce')

/var/folders/20/rw_9jf3s7f75z2kj0w4cq0r80000gn/T/ipykernel_1840/1924207532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_cities_df['lat'] = pd.to_numeric(small_cities_df['lat'], errors='coerce')

In [34]:
# Find the city furthest north (highest latitude)
furthest_north_city = small_cities_df.loc[small_cities_df['lat'].idxmax()]

In [35]:
print(furthest_north_city[['City', 'Country', 'Population', 'lat']])

City          Londonderry
Country                UK
Population          88120
lat             55.006763
Name: 80, dtype: object

In [36]:
#D

In [37]:
# Ensure longitude column is treated as numeric
cities_df['lon'] = pd.to_numeric(cities_df['lon'], errors='coerce')

In [38]:
# Find the 10 cities that are furthest west (lowest longitude)
furthest_west_cities_df = cities_df.nsmallest(10, 'lon')

In [40]:
furthest_west_cities_df

           City Country  Population         lat       lon
80  Londonderry      UK       88120   55.006763 -7.318268
14      Belfast      UK      274678     54.5973 -5.930100
2       Glasgow      UK      607192   55.860916 -4.251433
18     Plymouth      UK      247923   50.376289 -4.143841
11      Cardiff      UK      304777   51.481583 -3.179090
42    Blackpool      UK      143154   53.815884 -3.055291
94   Birkenhead      UK       81230        53.4 -3.033333
76    Southport      UK       93367   53.666667 -3.000000
3     Liverpool      UK      468584   53.400002 -2.983333
38       Dundee      UK      151236   56.462002 -2.970700

In [41]:
# Find the city with the highest population among the furthest west cities
highest_population_city = furthest_west_cities_df.loc[furthest_west_cities_df['Population'].idxmax()]

In [43]:
print(highest_population_city[['City', 'Country', 'Population', 'lon']])

City           Glasgow
Country             UK
Population      607192
lon          -4.251433
Name: 2, dtype: object